<script id="player-template" type="text/template">
	<div class="start-screen">
		<div class="logo-frame"></div>
	</div>
	<div class="channels"></div>
	<div class="player-controls">
		<div class="left-controls">
			<i class="icon-play"></i>
			<i class="icon-stop"></i>
			<i class="icon-volume-up"></i>
		</div>
	</div>
	<div class="log"></div>
</script>
<script id="login-template" type="text/template">
	<div class="logon-inner">
		<button class="btn btn-large btn-primary facebook-button" type="button">Login with Facebook</button>
		<div class="separator">
			<span>OR SIGN IN</span>
		</div>
		<form class="login-form">
			<div class="control-group">
				<div class="controls">
					<input type="text" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="password" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<button class="btn btn-large login-button" type="button">Log in</button>
			<button class="btn btn-large register-button" type="button">Register</button>
			</form>
	</div>
</script>
<script id="register-template" type="text/template">
	<div class="logon-inner">
		We require more information from you before you can start using your4.tv.
		<form class="register-form form-horizontal">
		<% _.each(fields, function(field) { %>
			<div class="control-group">
				<label class="control-label" for="<%= field %>"><%= field %></label>
				<div class="controls">
					<% if (field == "occupation") { %>
					<select id="<%= field %>" name="<%= field %>" <%= _.contains(req, field) ? '' : ' disabled' %>>
						<% _.each(occupations, function(occupation) { %>
							<option value="occupation"><%= occupation %></option>
						<% }); %>
					</select>
					<% } else { %>
					<input type="text" id="<%= field %>" name="<%= field %>" value="<%= user[field] %>" <%= _.contains(req, field) ? '' : ' disabled' %>>
					<% } %>
				</div>
			</div>
		<% }); %>
			<button class="btn btn-large btn-primary submit-registration" type="button">Register</button>
		</form>
	</div>
</script>
<script id="html-video-template" type="text/template">
	<video width="100%" height="100%" preload="auto">
		<source src="" type="video/mp4"/>
	</video>
</script>
<script id="flash-video-template" type="text/template">
	<object width="100%" height="100%" id="player_api" name="player_api" data="lib/flowplayer.swf" type="application/x-shockwave-flash">
		<param name="allowfullscreen" value="true">
		<param name="allowscriptaccess" value="always">
		<param name="quality" value="high">
		<param name="bgcolor" value="#000000">
		<param name="wmode" value="opaque" />
		<param name="flashvars" value="config=<%= htmlEscape(JSON.stringify(config)) %>">
	</object>
</script>
