<html>
<head>
	<title>Your4.tv - your custom TV channel</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="http://warlock.ecs.soton.ac.uk:8080/target/target-script-min.js#anonymous"></script>
	<script>console.log("BOOO YA!")</script>
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/underscore.js"></script>
	<script type="text/javascript" src="lib/backbone.js"></script>
	<script type="text/javascript" src="lib/flowplayer.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
</head>
<body>
	<div id="container"></div>
	<div class="templates">
		<script id="player-template" type="text/template">
			<div class="channels"></div>
			<div class="controls">
				<div class="left-controls">
					<img class="play-button" src="img/play.png" alt="play"/>
					<img class="stop-button" src="img/stop.png" alt="stop"/>
				</div>	
				<div class="right-controls"></div>
			</div>
			<div class="player"></div>
		</script>
		<script id="html-video-template" type="text/template">
			<video width="100%" height="100%" poster="http://nrg.project4.tv/c4_480$" autoplay preload="auto">
				<source src="http://<%= server %>/<%= channel %>.stream/playlist.m3u8" type="video/mp4"/>
			</video>
		</script>
		<script id="flash-video-template" type="text/template">
			<object width="100%" height="100%" id="player_api" name="player_api" data="lib/flowplayer.swf" type="application/x-shockwave-flash">
				<param name="allowfullscreen" value="true">
				<param name="allowscriptaccess" value="always">
				<param name="quality" value="high">
				<param name="bgcolor" value="#000000">
				<param name="wmode" value="opaque" />
				<param name="flashvars" value="config=<%= htmlEscape(JSON.stringify(config)) %>">
			</object>
		</script>
	</div>
</body>
</html>
