body {
	overflow: hidden;
}

.controls {
	position: absolute;
	left: 0;
	padding-left:140px;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
	font-size: 30px;
	height: 35px;
	line-height: 38px;
	color: #fff;
}

.controls .left-controls {
	float: left;
}

.controls i {
	display: inline-block;
}

.controls i:hover {
	color: #dedede;
}

.channels {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 35px;
	width: 140px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
}

.channel {
	position: relative;
	display: block;
	width: 130px;
	margin: 5px;
}

.channel img {
	width: 100%;
}

.channel .title {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 2px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-weight: bold;
	text-align: center;
}

.templates {
	display: none;
}

.start-screen {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #ffffff;
	z-index: 100;
	font-size: 34px;
	text-align: center;
	line-height: 90px;
}

.log {
	position: absolute;
	top: 90%;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 10px;
	font-family: monospace;
}

.player {
	height: 90%;
}

.player .video-container {
}