body {
	overflow: hidden;
}

.controls {
        position: absolute;
        left: 140px;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1001;
}

.controls .right-controls {
	float: right;
}

.channels {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 140px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.channel {
	position: relative;
	display: block;
	width: 130px;
	margin: 5px;
}

.channel img {
	width: 100%;
}

.channel .title {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 2px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-weight: bold;
	text-align: center;
}

.templates {
	display: none;
}
