AuthName "Restricted Area" 
AuthType Basic 
AuthUserFile /usr/share/gdp/repo/client/.htpasswd 
AuthGroupFile /dev/null 
require valid-user	

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !dispatch\.php$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* dispatch.php [L,QSA]
</IfModule>
