<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Your4.tv - your custom TV channel</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/leaflet.css">
	<link rel="stylesheet" href="lib/leaflet.draw.css">
	<style>
		.container { margin-top: 20px; width: 900px; }
		.live-preview {
			position: relative;
			width: 100%;
			height: 250px;
		}
		.live-preview .video {
			position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			z-index: 1;
			background: black;
		}
		.live-preview .overlay {
			position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			z-index: 2;
		}
		.live-preview .overlay iframe {
			border: 0;
		}
		.table td {
			vertical-align: middle;
		}
		.footer {
			color: #999;
			font-size: 11px;
			padding-top: 40px;
		}
		.thumbnail-bg {
			position: relative;
			width: 120px;
			height: 68px;
			background: black;
			line-height: 68px;
			overflow: hidden;
		}
		.thumbnail-bg .icon.still { background: #33CCCC; }
		.thumbnail-bg .icon.video { background: #FF4040; }
		.thumbnail-bg .icon {
			position: absolute;
			bottom: 2px;
			right: 2px;
			background: #fff;
			padding: 0 1px;
			line-height: 18px;
			opacity: 0.8;
			border-radius: 3px;
		}
		.toolbar {
			margin-top: -50px;
			margin-bottom: 40px;
			text-align: right;
		}
		h1.title {
			border-bottom: 1px solid #DDD;
			padding-bottom: 5px;
		}
		.advert-list tr {
			cursor: pointer;
		}
		.advert-list tr:hover td {
			background-color: #DEE2E2 !important;
		}
		.advert-full #advert-overlay {
			position: relative;
			width: 100%;
			height: 400px;
		}
		.ace-container {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
		}
		.ace-monokai .ace_marker-layer .ace_active_line {
			background: rgba(255, 255, 255, 0.02) !important;
		}
		.tab-pane, .tab-pane .map {
			height: 400px;
		}
	</style>
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/underscore.js"></script>
	<script type="text/javascript" src="lib/backbone.js"></script>
	<script type="text/javascript" src="lib/bootstrap.js"></script>
	<script type="text/javascript" src="lib/leaflet.js"></script>
	<script type="text/javascript" src="lib/leaflet.draw.js"></script>
	<script type="text/javascript" src="lib/flowplayer.min.js"></script>
	<script type="text/javascript" src="lib/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="lib/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="lib/jquery.fileupload.js"></script>
	<script type="text/javascript" src="js/base.publisher.js"></script>
	<script>
		$(document).ready(function () {
			y4p.cacheTemplates();
			var app = new y4p.AdvertiserApp();
			$("body").append(app.start().el);
		});
	</script>
</head>
<body>
	<div id="templates">
		<script type="text/html" id="main-template">
			<div class="navbar navbar-inverse navbar navbar-static-top">
				<div class="navbar-inner">
				<a class="brand" href="#">Your4.tv Advertisers Portal</a>
					<ul class="nav">
						<% _.map(links, function (link) { %>
							<li class="<% if (link.active) { %>active<% } %>">
								<a href="#<%= link.hash %>"><%= link.title %></a>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
			<div class="container">
				<ul class="breadcrumb">
					<% _.map(breadcrumb, function (link, i) { %>
						<li><a href="#<%= link.hash %>"><%= link.title %></a>
							<span class="divider">/</span></li>
					<% }); %>
				</ul>
				<h1 class="title"><%= title %></h1>
				<div class="main-body"></div>
				<div class="footer">Copyright Your4.tv</div>
			</div>
		</script>
		<script type="text/html" id="home-template">
			Put awesome stuff here
		</script>
		<script type="text/html" id="notfound-template">
			<%= message %>
		</script>
		<script type="text/html" id="advert-list-template">
			<div class="toolbar"><button class="btn create">Create</button></div>
			<table class="table">
				<thead>
					<tr>
						<th width="200" colspan="2">Advert</th>
						<th width="160">Actions</th>
					</tr>
				</thead>
				<tbody class="list">
				</tbody>
			</table>
		</script>
		<script type="text/html" id="advert-list-item-template">
			<tr>
				<td width="130"><div class="thumbnail-bg">
					<img src="<%= thumbnail || "img/no-preview.png" %>" width="120">
					<div class="icon <%= type %>" data-title="<%= y4p.language.advertType[type] %>">
						<i class="icon-<%= type === "still" ? "camera" : (type === "video" ? "film" : "") %>"></i>
					</div>
				</div></td>
				<td><%= title %></td>
				<td><button class="btn edit">Edit</button> <button class="btn delete">Delete</button>
			</tr>
		</script>
		<script type="text/html" id="advert-full-template">
			<div class="toolbar">
				<button type="button" class="btn cancel">Cancel</button>
				<button type="submit" class="btn submit btn-primary">Save</button>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<p>Enter details about the advert below.</p>
					<br>
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="advert-title">Title</label>
							<div class="controls">
								<input id="advert-title" type="text" value="<%= title %>">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="advert-type">Type</label>
							<div class="controls">
								<select id="advert-type">
									<option value="video" <% if (type === "video") { print("selected"); } %>>Video</option>
									<option value="still" <% if (type === "still") { print("selected"); } %>>Still</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="advert-file">File</label>
							<div class="controls">
								<input type="file" name="file" id="advert-file" data-url="http://www.your4.tv/api/files/">
							</div>
						</div>
					</form>
				</div>
				<div class="span6">
					Live preview:
					<div class="live-preview">
						<div class="video"></div>
						<div class="overlay">
							<iframe id="advert-overlay-iframe" width="100%" height="100%" src="overlay.html#<%= typeof id !== "undefined" ? id : "" %>"></iframe>
						</div>
					</div>
				</div>
			</div>
			<label class="" for="advert-overlay">Overlay</label>
			<div id="advert-overlay"><div class="ace-container"><%= htmlEscape(overlay) %></div></div>
		</script>
		<script type="text/html" id="campaign-list-template">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Adverts</th>
						<th>Title</th>
						<th>Starts</th>
						<th>Ends</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="list">
				</tbody>
			</table>
		</script>
		<script type="text/html" id="campaign-list-item-template">
			<tr>
				<td></td>
				<td><%= _.reduce(adverts, function (memo, i) { return memo + (i ? "," : "") + print(advert.title); }, "") %></td>
				<td><%= title %></td>
				<td><%= startDate %></td>
				<td><%= endDate %></td>
				<td><button class="btn edit">Edit</button> <button class="btn delete">Delete</button>
			</tr>
		</script>
		<script type="text/html" id="campaign-full-template">
			<div class="toolbar">
				<button type="button" class="btn cancel">Cancel</button>
				<button type="submit" class="btn submit btn-primary">Save</button>
			</div>
			<div class="row-fluid">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="campaign-title">Title</label>
						<div class="controls">
							<input id="campaign-title" type="text" value="<%= title %>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="campaign-advert">Adverts</label>
						<div class="controls">
							<div id="campaign-advert">
								<% _.each(allAdverts.toJSON(), function (advert) { %>
									<label class="checkbox">
										<input type="checkbox" name="advert" value="<%= advert.id %>" <%= adverts.indexOf(advert.id) > -1 ? 'checked="true"' : '' %>> <%= advert.title %>
									</label>
								<% }); %>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="campaign-starts">Starts</label>
						<div class="controls">
							<input type="text" id="campaign-starts" value="<%= startDate %>">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="campaign-ends">Starts</label>
						<div class="controls">
							<input type="text" id="campaign-ends" value="<%= startDate %>">
						</div>
					</div>
					<div class="control-group">
						<h2 class="">Targets</h2>
						<div id="campaign-targets">
							<ul class="nav nav-tabs target-tabs">
								<li><a data-toggle="tab" href="#tab-genders">Genders</a></li>
								<li><a data-toggle="tab" href="#tab-age-ranges">Age ranges</a></li>
								<li><a data-toggle="tab" href="#tab-occupations">Occupations</a></li>
								<li><a data-toggle="tab" href="#tab-locations">Locations</a></li>
								<li><a data-toggle="tab" href="#tab-genres">Genres</a></li>
								<li><a data-toggle="tab" href="#tab-programmes">Programmes</a></li>
								<li><a data-toggle="tab" href="#tab-times">Times</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane" id="tab-genders">
									<label class="checkbox"><input type="checkbox" name="advert" value="male"> Male</label>
									<label class="checkbox"><input type="checkbox" name="advert" value="female"> Female</label>
								</div>
								<div class="tab-pane" id="tab-age-ranges">
									wth
								</div>
								<div class="tab-pane" id="tab-occupations">
								</div>
								<div class="tab-pane active" id="tab-locations">
									<div class="map"></div>
								</div>
								<div class="tab-pane" id="tab-genres">
								</div>
								<div class="tab-pane" id="tab-programmes">
								</div>
								<div class="tab-pane" id="tab-times">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</script>
		<script type="text/html" id="campaign-target-superlist-template">
			<div class="toolbar"><button class="btn create">Create</button></div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Details</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody class="list">
				</tbody>
			</table>
		</script>
		<script type="text/html" id="campaign-target-list-template">
			<tr><th colspan="2"><%= y4p.language.type[type] %></th></tr>
		</script>
		<script type="text/html" id="campaign-target-list-item-template">
			<tr>
				<td>
					<%= typeof minAge !== "undefined" ? "Age: " + minAge + " to " + maxAge + "<br>" : "" %>
					<%= typeof minLat !== "undefined" ? "Location: Min latitute: " + minLat + "<br>" +
																"Min longitude: " + minLong + "<br>" +
																"Max latitute: " + maxLat + "<br>" +
																"Max longitude: " + maxLong + "<br>" : "" %>
				</td>
				<td><button class="btn edit">Edit</button> <button class="btn delete">Delete</button>
			</tr>
		</script>
		<script type="text/html" id="target-dialog-template">
			<div class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Add a target</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn cancel">Close</button>
					<button class="btn add btn-primary">Add</button>
				</div>
			</div
		</script>
	</div>
	<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
