.screen {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: black;
	z-index: 10;
	padding: 30px;
	text-align: center;
}

.screen .msg,
.screen input {
	font-size: 30px;
}

.screen .msg {
	margin: 7% 0 7%;
	line-height: 40px;
}

.screen input {
	width: 80%;
	height: 10%;
	margin-bottom: 5px;
}