.screen {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: #111410;
	z-index: 10;
	padding: 30px;
	text-align: center;
}

.screen .msg,
.screen input {
	font-size: 30px;
}

.screen .msg {
	margin: 4% 0;
	line-height: 50px;
}

.screen input {
	width: 60%;
	height: 15%;
	margin-bottom: 2%;
}