body {
	overflow: hidden;
}

.controls {
	position: absolute;
	left: 0;
	padding-left:140px;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
	font-size: 30px;
	height: 35px;
	line-height: 38px;
	color: #fff;
}

.controls .left-controls {
	float: left;
}

.controls i {
	display: inline-block;
}

.controls i:hover {
	color: #dedede;
}

.channels {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 35px;
	width: 90px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
}

.channel {
	position: relative;
	display: block;
	width: 70px;
	margin: 5px;
}

.channel img {
	width: 100%;
}

.channel .title {
	/*position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 2px;*//*
	background: rgba(0, 0, 0, 0.8);*/
	color: white;
	font-weight: bold;
	text-align: center;
}

.templates {
	display: none;
}

.start-screen {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	color: #fff;
	z-index: 100;
	text-align: center;
	line-height: 90px;
}

@-webkit-keyframes pulse {
      from {
        opacity: 0.2;
      }
      to {
        opacity: 1.0;
      }
    }

.start-screen .instruction {
	position: absolute;
	left: 0;
	right: 0;
	top: 70%;
}

.start-screen .instruction strong {
	font-size: 34px;
	-webkit-animation-name: pulse;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-direction: alternate;
}

.log {
	position: absolute;
	top: 90%;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 10px;
	font-family: monospace;
}

.player {
	position: relative;
	height: 100%;
}

.player .video-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.player .black-layer,
.player .still-layer {
	position: absolute;
	z-index: 2;
	background: black;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: red;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}

.player .still-frame,
.start-screen .still-frame {
	background: #221199;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 80px;
}

.player .still-frame img,
.start-screen .still-frame img {
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
}