body {
	background: black;
	overflow: hidden;
	background: black;
	color: white;
}

.player-controls {
	position: absolute;
	left: 0;
	padding-left:140px;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
	font-size: 30px;
	height: 35px;
	line-height: 38px;
	color: #fff;
}

.player-controls .left-controls {
	float: left;
}

.player-controls i {
	display: inline-block;
}

.player-controls i:hover {
	color: #dedede;
}

.channels {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 35px;
	width: 90px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 50;
}

.channel {
	position: relative;
	display: block;
	width: 70px;
	margin: 5px;
}

.channel img {
	width: 100%;
}

.channel .title {
	/*position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 2px;*//*
	background: rgba(0, 0, 0, 0.8);*/
	color: white;
	font-weight: bold;
	text-align: center;
}

.templates {
	display: none;
}

.start-screen-layer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000;
	color: #fff;
	z-index: 100;
	text-align: center;
	line-height: 90px;
}

.player-layer {
	display: none;
}

@-webkit-keyframes pulse {
      from {
        opacity: 0.2;
      }
      to {
        opacity: 1.0;
      }
    }


.start-container .tap-start {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 20;
}

.start-container .tap-start b {
	position: absolute;
	top: 70%; left: 0; right: 0;
	text-align: center;
	color: white;
	font-size: 34px;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}

.start-container .logon-outer {
	line-height: 22px;
	text-align: center;
	height: 100%;
}

.start-container .logon-outer:before {
	content: '';
	display: inline-block;
	height: 100%;
	min-height:750px;
	vertical-align: middle;
	margin-right: -0.25em;
}

.start-container .logon-inner {
	background: #000;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align:middle;
	display: inline-block;
	width:500px;
	background-color: rgba(0, 0, 0, 0.3);
}

.start-container .logon-inner button {
	width: 100%;
}

.start-container .logon-inner .login-button {
	margin-bottom: 5px;
}

.start-container .logon-inner .submit-registration {
	margin-top:10px;
	margin-bottom:5px;
}

.start-container .logon-inner .separator {
	border-top: 1px inset #fff;
	height: 2px;
	text-align: center;
	margin: 25px 0 25px 0;
}

.start-container .logon-inner .separator span {
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-style: italic;
	top: -12px;
	background: #5C124A;
	padding: 0 6px 0 6px;
	font-size: 14px;
	-webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
}

.start-container .logon-inner form .control-group {
	margin-bottom: 0;
}

.start-container .logon-inner form {
	margin-bottom: 0;
	text-align: left;
	text-transform: capitalize;
}

.start-container .logon-inner form input {
	width: 97%;
}

.start-container .logon-inner form input.date-split {
	width: 68px;
	margin-right: 5px;
}

.start-container .logon-inner form .input-prepend:last-child input.date-split {
	margin-right: 0px;
}

.start-container .logon-inner form select {
	width: 100%;
}

.start-container .logon-inner .register-form {
	margin-top: 15px;
}

.start-container .logon-inner .register-form span {
	color: #000;
}

.start-container .logon-inner .register-form .control-label {
	width: 80px;
	margin-left: 0px;
}

.start-container .logon-inner .register-form .control-group {
	margin-bottom: 5px;
}

.start-container .logon-inner .register-form .controls {
	margin-left: 100px;
}

.log {
	position: absolute;
	top: 90%;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 10px;
	font-family: monospace;
}

.player {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.player .video-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.player .layer-view {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.player .black-layer {
	background: black;
}

.player .skip-layer .skip {
	opacity: 0.7;
	position: absolute;
	display: block;
	bottom: 20px;
	left: 80px;
	right: 80px;
	background: black;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 8px;
	border: 1px solid white;
	border-radius: 8px;
}

.player .skip-layer .skip:hover {
	opacity: 1;
	text-decoration: none;
}

.player .still-frame,
.start-container .still-frame {
	/*background: #221199;*/
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 80px;
}

.player .still-frame img,
.start-container .still-frame img {
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
}

.logo-frame {
	background: #000 url('../img/homepage-splash.jpg');
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.start-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

.error {
	line-height: 14px;
	margin-top:10px;
}

.error p {
	margin: 0;
}

.top-controls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	opacity: 0.9;
	height: 0;
	overflow: hidden;
	border: 1px solid #333;
	background: #111;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #3c3c3c ),to( #111 ));
	background-image: -webkit-linear-gradient( #3c3c3c,#111 );
	background-image: -moz-linear-gradient( #3c3c3c,#111 );
	background-image: -ms-linear-gradient( #3c3c3c,#111 );
	background-image: -o-linear-gradient( #3c3c3c,#111 );
	background-image: linear-gradient( #3c3c3c,#111 );
}

.top-controls .top-content {
	padding: 5px;
}

.top-content .logo {
	height: 35px;
}

.account-options {
	display: inline-block;
	margin-left: 10px;
}

.bottom-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	z-index: 1000;
	opacity: 0.9;
	height: 0;
}

.playlist {
	position: relative;
	height: 100%;
	width: 100%;
}

.playlist-container{
	height: 100%;
	width: 100%;
}
.playlist-item {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
	border: 1px solid white;
	font-size: 10px;
}
.now-line {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	border-right: 2px solid #fff;
	z-index: 1000;
	background: rgba(204, 51, 194, 0.3);
}
.playlist-item .thumb {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 80px;
}
.playlist-item .info {
	padding: 10px;
	overflow: hidden;
}
.playlist-item .info .title {
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;

}
.playlist-item .info .live-label {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

iframe {
	border: 0;
}

.transcript-layer .subtitle {
	position: absolute;
	left: 10%; right: 10%; bottom: 3%;
	font-size: 30px;
	line-height: 40px;
	/*font-weight: bold;*/
	text-align: center;
	text-shadow: 1px 1px 5px #000000;
	font-family: verdana, sans-serif;
}


.still-layer, .transcript-layer, .skip-layer {
	z-index: 1200;
}

.overlay-layer, iframe {
	z-index: 10000;
}

.rating {
	position: absolute;
	bottom: 140px;
	right: 10px;
	z-index: 10000000
}

.rating .star {
	color: white;
	display: inline-block;
}
